{% extends '::dashboard.html.twig' %}

{% block main %}
        <div class="row">
          <div class="col-md-12">
              <div class="pull-left">
                <h1 class="page-header">Properties</h1>
              </div>
              <div class="pull-right">
                  <a id="btn-add-property" href="{{ path("app_backend_property_new") }}" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i><span> Add property</span></a>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
          <table id="table-javascript"></table>
          </div>
        </div>
{% endblock %}

{% block stylesheets %}
  {{ parent() }}
  <link href="{{ asset('css/dashboard.css') }}" rel="stylesheet" />
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script>
    require(["/js/common.js"], function(common){
      require(['app/modules/properties/controller/index.controller']);
    });
  </script>
{% endblock %}