/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
*.sublime-*
composer.lock
*~
/web/js/compiled/*
web/js/fos_js_routes.js
web/uploads
.idea